<div class="container">
    <h3>Update Password</h3>
    <input type="password" placeholder="Old Password" [(ngModel)]="oldPassword" class="form-control my-2" />
    <input type="password" placeholder="New Password" [(ngModel)]="newPassword" class="form-control my-2" />
    <input
      type="password"
      placeholder="Confirm New Password"
      [(ngModel)]="confirmPassword"
      class="form-control my-2"
    />
    <p class="text-danger">{{ errorMessage }}</p>
    <button class="btn btn-success" (click)="updatePassword()">Update</button>
  </div>
  
