<p>notes works!</p>
<div class="container">
    <div class="col-6 mx-auto shadow p-3">
        <h1 class="text-primary text-center">Notes App</h1>
        <form action="" [formGroup]="formtwo">
            <input type="text" name="title" placeholder="title" class="form-control my-2" formControlName="title" >
            <textarea name="content" id="" class="form-control my-2" placeholder="content" formControlName="content"></textarea>
            <button class="btn btn-outline-primary w-100" (click)="create()">create</button>
        </form><br/><br/>

        <p *ngFor="let note of notes; let i = index">
           {{ i+1 }}. {{note.title}} 
            <button class="btn btn-primary" (click)="edit(i)">Edit</button> 
            <button class="btn btn-secondary"  (click)="viewnotes(i)">View</button> 
            <button class="btn btn-danger" (click)="delete(i)">Delete</button> 

        </p>
    </div>

</div>
